.field {
    margin-bottom: 15px;
    width: 100%;
}

.field input {
    padding: 10px;
    border-radius: 4px;
    height: 40px;
    border: 1px solid #d9d9d9;
    width: 100%;
    font-size: 16px;
}

.auth-action {
    margin-left: -5px;
    margin-right: -5px;
}

.auth-action button {
    margin-left: 5px;
    margin-right: 5px;
}

.change {
    color: #5152b4;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}

.error {
    color: #dc2a2a;
    margin-bottom: 10px;
}